
    .master-detail {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
    }

    .master {
        min-width: 0;
    }

    .detail {
        min-width: 0;
    }

    .master,
    .detail {
        box-sizing: border-box;
        border: 2px solid #007bff;
        /* Add a blue contour line */
        border-radius: 6px;
        padding: 10px;
        background: #fff;
    }


    /* Fix height and enable scrolling */
    .grid {
        height: 20rem;
        overflow-y: auto;
    }

    .grid ::deep table {
        min-width: 100%;
    }

    ::deep .tree_column-custom-class {
        width: 400px;
    }

    ::deep tr {
        height: 30px;
        /* your target height */
        border-bottom: 0.5px solid silver;
    }

    ::deep td {
        min-height: 0 !important;
        height: 30px;
        padding: 0 !important;
        /* reduce padding */
        line-height: 30px;
        /* match height */
        vertical-align: middle;
        /* optional */
    }


    /* Sticky header while scrolling */
    ::deep thead {
        position: sticky;
        top: 0;
        background-color: #d8d8d8;
        outline: 1px solid gray;
        z-index: 1;
    }

    ::deep tbody td {
        white-space: nowrap;
        overflow: hidden;
        max-width: 0;
        text-overflow: ellipsis;
    }

    .e-flat {
        background-color: transparent;
        border: none;
    }
