@using Microsoft.FluentUI.AspNetCore.Components
@page "/"

<PageTitle>Home</PageTitle>

<FluentCard>
  <h2>Management of cleanup of VTS simulations</h2>
  <p>Login and select the root folder to manage or register a new root folder for scheduled clean up</p>
</FluentCard>
